/* Seccion Inicio*/
* {
    background-color:rgb(222, 230, 215); 
}

header {
    text-align: center;
    margin:20x;
}

main {
    margin-top: 40px;
}

header img {
    display: block;
    margin: 0 auto;
    width:150px;
}

header h1 {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

nav {
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}
nav li {
    display: inline;
    margin: 0 10px;
}
nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
nav a:hover {
    color: blue;
}

main {
    text-align: center;
}

main img {
    display: block;
    margin: 0 auto;
}

main p {
    font-size: 18px; 
    line-height: 1.5; 
    margin-bottom: 20px;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    font-family: 'Arial', sans-serif;
}
footer p {
    background-color: black;
}

/* Seccion Nuestras Recetas */

.imagenesProductos {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 10px; 
    justify-content: center; 
}

.imagenesProductos img {
    height: 400px;
}

.imagenesProductos button {
    background-color: #4CAF50; 
    border: none; 
    color: white;
    padding: 15px 25px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block;
    font-size: 16px; 
    margin: 4px 2px;
    cursor: pointer; 
    border-radius: 8px; 
    transition-duration: 0.4s;
}

.imagenesProductos button:hover {
    background-color: aqua;
}

.columna {
    background-color:rgb(222, 230, 215);
    padding: 20px;
    text-align: center;
    border: 2px solid #727171;
}

/*Seccion Contactarnos*/

.imagenesProductos img {

    width: auto;
    height: 300px;

}

/*RECETAS*/

.receta {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 16px;
    border-color:#000000;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color:rgb(222, 230, 215); 
    
}
.receta h1 {
    color: #000000;
}
.receta h2 {
    color: #000000;
}
.receta ul {
    list-style-type: none;
}
.receta li {
    margin-bottom: 5px;
}


/*Grids Productos*/

.gridProductos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
    padding: 20px; 
}
.gridProducto {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
}
.gridProducto img {
    width: 100%; 
    max-width: 200px;
    height: auto; 
    margin-bottom: 10px; 
}
.price {
    margin: 10px 0; 
}